body {
  width: 400px;
  height: 200px;
  overflow: hidden;
}

#products-loader {
  margin-top: 30px;
}

/* Overwrite materialize, maker table hover red instead of grey*/
table.highlight > tbody > tr:hover {
  background-color: #ee6e73; 
}

#places-ignore {
  display: hidden;
}

.pac-container {
  display: block;
}